#hero-sec {
  width: 100%;
  height: 316px;
  background: url(../assets/img/Shop/shop-main.png) center / cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero-sec h1 {
  font-size: 3rem;
  font-weight: 500;
}

#hero-sec p {
  font-size: 1rem;
  font-weight: 500;
}

#hero-sec span {
  font-size: 1rem;
  font-weight: 300;
}

main {
  width: 100%;
  height: auto;
}
main section {
  width: 80%;
  height: 90%;
  margin: 5rem auto 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "title title"
    "contact form";
  align-items: center;
}
.title {
  grid-area: title;
  text-align: center;
}
.contact-info {
  grid-area: contact;
}
.form {
  grid-area: form;
}
main section .title h2 {
  font-size: 2.25rem;
  font-weight: 600;
}
main section .title p {
  font-size: 1rem;
  color: #9f9f9f;
  width: 644px;
  margin: auto;
  height: 48px;
}
main section .contact-info {
  width: 393px;
  height: 535px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
main section .contact-info > div {
  display: flex;
  flex-direction: row;
}
main section .contact-info h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
main section .contact-info span {
  font-size: 1rem;
}
main section .contact-info .info-icons {
  color: black;
  font-size: 22px;
  padding-right: 25px;
}
main section .form {
  width: 635px;
  height: 923px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main section .form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
main section .form div label {
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  top: 42%;
  left: 3%;
  transition: 0.3s;
  color: #878787;
  cursor: text;
}
main section .form div input {
  width: 525px;
  height: 75px;
  border: 1px #9f9f9f solid;
  outline: none;
  border-radius: 10px;
  margin: 22px 0;
  padding-left: 15px;
  font-size: 1rem;
}
 .form input:focus,
 .form textarea:focus{
  border: 2px var(--maincolor) solid;
}
input:is(:focus, :valid) ~ label{
  transform: translateY(-37px) scale(0.9);
  background-color: #fff;
  padding: 0 5px;
}
textarea:is(:focus, :valid) ~ label{
  transform: translateY(-56px) scale(0.9);
  background-color: #fff;
  padding: 0 5px;
}

main section .form div textarea {
  width: 525px;
  height: 120px;
  border: 1px #9f9f9f solid;
  outline: none;
  border-radius: 10px;
  margin: 22px 0;
  font-size: 1rem;
  padding: 20px;
}
main section .form button {
  width: 237px;
  height: 55px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  margin: 22px 0;
}
main section .form button:hover {
  color: var(--maincolor);
  background-color: white;
  transform: scale(1.1);
  border: 1px var(--maincolor) solid;
  transition: 0.3s;
}

#features-sec {
  background-color: #faf3ea;
}
#features-sec .container {
  width: 100%;
  height: 270px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#features-sec .container > div {
  display: flex;
  flex-direction: row;
}

#features-sec .feat-icons {
  width: 60px;
  height: 60px;
  padding-right: 10px;
}

#features-sec h4 {
  font-size: 1.563rem;
  font-weight: 600;
  line-height: 1.5em;
  color: #242424;
}

#features-sec p {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5em;
  color: #898989;
}

footer {
  width: 100%;
  display: flex;
  position: relative;
}

footer > div {
  display: flex;
  flex-direction: column;
  margin: 4% 5%;
}

footer h5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 50px;
}

footer h6 {
  font-size: 1rem;
  font-weight: 500;
  color: #9f9f9f;
}

footer p {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 40px;
  cursor: pointer;
  transition: 0.3s;
}

footer a:hover,
footer p:hover {
  color: var(--maincolor);
  transform: translateX(5px);
}

footer div:first-child {
  width: 30%;
}

footer div:nth-child(2) {
  width: 20%;
}

footer div:nth-child(3) {
  width: 20%;
}

footer div:nth-child(4) {
  width: 30%;
}

footer input {
  width: 130px;
  border: none;
  outline: none;
  border-bottom: 2px black solid;
  padding-bottom: 4px;
  margin-right: 20px;
}

footer .sub {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

footer input::placeholder {
  font-size: 0.875rem;
  font-weight: 500;
  color: #9f9f9f;
}

footer button {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  font-size: 0.875rem;
  font-weight: 500;
  border: none;
  outline: none;
  border-bottom: 2px black solid;
  padding-bottom: 5px;
  cursor: pointer;
}

footer > div:last-child {
  width: 85%;
  position: absolute;
  bottom: -13%;
}

footer > div:last-child span {
  font-size: 1rem;
}


@media (max-width: 1231px) {
  header nav ul,
  header #header-icons,#sign {
    display: none;
  }

  header {
    justify-content: space-between;
    padding: 0 30px;
  }

  header .baricon {
    display: block;
  }
  main section {
    width: 95%;
  }

  #features-sec .container > div {
    flex-direction: column;
  }
}

@media (max-width: 992px) {


  main section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "title"
    "form"
    "contact"
  }
  main section .form {
    height: auto;
    margin: 40px auto 0;
  }
  
  #features-sec .feat-icons {
    width: 50px;
    height: 50px;
  }
  #features-sec h4 {
    font-size: 1.2rem;
  }
  #features-sec p {
    font-size: 0.9rem;
  }
  footer .sub {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}

@media (max-width: 768px) {
  #sidebar .sidebar-icons {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 250px;
  }
  main section .title h2 {
    font-size: 2rem;
  }
  main section .title p {
    font-size: 0.8rem;
    width: 400px;
  }

  main section .form {
    width: 535px;
  }
  main section .form div label {
    font-size: 0.9rem;
  }
  main section .form div input {
    width: 90%;
    height: 55px;
    margin: 18px 0;
  }
  textarea::placeholder {
    padding-top: 15px;
  }
  main section .form div textarea {
    width: 90%;
    height: 100px;
    margin: 18px 0;
  }
  main section .form button {
    width: 180px;
    height: 45px;
    font-size: 0.9rem;
    margin: 18px 0;
  }
  main section .contact-info {
    height: 500px;
  }
  main section .contact-info h3 {
    font-size: 1.3rem;
  }
  main section .contact-info span {
    font-size: 0.8rem;
  }
  main section .contact-info .info-icons {
    font-size: 20px;
    padding-right: 15px;
  }

  #features-sec .container {
    height: 150px;
    padding: 0 20px;
  }
  #features-sec .feat-icons {
    width: 40px;
    height: 40px;
  }
  #features-sec h4 {
    font-size: 1rem;
  }
  #features-sec p {
    font-size: 0.7rem;
  }

}

@media (max-width: 600px) {
  main section .title{
    width: 100%;
    text-align: center;
  }
  main section .title h2 {
    font-size: 1.7rem;
  }
  main section .title p {
    font-size: 0.6rem;
  }
  main section .form {
    width: 100%;
  }
  main section .form div label {
    font-size: 0.8rem;
  }
  main section .form div input {
    height: 45px;
    margin: 10px 0;
  }
  ::placeholder{
    font-size: 0.7rem;
  }
  main section .form div textarea {
    height: 85px;
    margin: 10px 0;
  }
  main section .form button {
    width: 130px;
    height: 40px;
    font-size: 0.8rem;
    margin: 10px 0;
  }

  #features-sec .feat-icons {
    width: 30px;
    height: 30px;
  }
  #features-sec h4 {
    font-size: 0.9rem;
  }
  #features-sec p {
    font-size: 0.5rem;
  }
  footer > div {
    margin: 4% 3%;
  }

  footer h5 {
    font-size: 1.3rem;
    margin-bottom: 20px;
  }

  footer h6 {
    font-size: 0.8rem;
  }

  footer p {
    font-size: 0.8rem;
    margin-top: 30px;
  }
  footer input {
    width: 90px;
  }

  footer input::placeholder {
    font-size: 0.65rem;
  }
  footer button {
    font-size: 0.65rem;
  }
}

@media (max-width: 450px) {
  #sidebar ul li {
    padding: 30px;
  }
  #sidebar ul a {
    font-size: 18px;
  }
  main section .title{
    width: 70%;
    margin: auto;
  }
  main section .title h2 {
    font-size: 1.5rem;
  }
  main section .title p {
    font-size: 0.5rem;
    width: 100%;
  }

  main section .form {
    flex: 1;
    margin-left: 10%;
  }
  main section .form div label {
    font-size: 0.7rem;
  }
  main section .form div input {
    width: 70%;
    height: 40px;
  }
  ::placeholder{
    font-size: 0.6rem;
  }
  main section .form div textarea {
    width: 70%;
    height: 80px;
  }
  main section .form button {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }
  main section .contact-info {
    margin-left: 20%;
  }
  footer input {
    width: 60px;
  }
  footer input::placeholder {
    padding-left: 0;
  }
}
