header {
  width: 100%;
  height: 9vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header img {
  width: 170px;
  height: auto;
  cursor: pointer;
}

nav {
  padding: 0 20%;
}

nav ul {
  display: flex;
}

header li a {
  font-size: 1.1rem;
  font-weight: 500;
  padding: 10px 25px;
  position: relative;
}
header li a::after {
  content: "";
  display: block;
  height: 4px;
  width: 0;
  background-color: var(--maincolor);
  position: absolute;
  left: 5px;
  bottom: 0;
  transition: 0.4s;
  filter: drop-shadow(0px 3px 15px var(--sec-color));
}
header li a:hover::after {
  width: 90%;
}

header li a:hover {
  color: var(--maincolor);
}


#header-icons {
  width: 10%;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}

#header-icons .icons:hover {
  transition: 0.3s;
  transform: scale(1.3);
}

header .baricon {
  display: none;
  font-size: 28px;
}

#sidebar {
  width: 50vw;
  height: 100vh;
  border: none;
  background-color: white;
  box-shadow: 6px 3px 9px 0px #00000047;
  margin-left: auto;
  overflow: hidden;

}

#sidebar::backdrop {
  background-color: #0000006f;
}

#sidebar button{
  width: 25px;
  height: 25px;
  font-size: 18px;
margin:10px 15px ;
border: none;
background-color: transparent;
}


#sidebar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sidebar ul li {
  padding: 50px;
}

#sidebar ul a {
  font-size: 25px;
}


#sidebar .sidebar-icons {
  flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
  
  }
  #sidebar .sidebar-icons .icons{
    padding: 20px;
  }
  
  #sidebar .sidebar-icons .icons:hover {
    transition: 0.3s;
    transform: scale(1.3);
  }
  
main {
  width: 100%;
  height: fit-content;
}
main .product {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .product .tabs {
  width: 100%;
  height: auto;
  padding: 2rem 0 2rem 10%;
  background-color: #f9f1e7;
  display: flex;
  flex-direction: row;
  align-items: center;
}

main .product .tabs p {
  font-size: 1rem;
  color: #9f9f9f;
}
main .product .tabs span {
  color: black;
  padding: 0 15px;
}
main .product .tabs h5 {
  font-size: 1rem;
  font-weight: 400;
  padding-left: 10px;
}
main .product .container {
  width: 80%;
  height: auto;
  margin: 2rem auto 5rem;
  display: flex;
  justify-content:space-between;
}
main .product .container .product-imgs {
  flex: 1;
  display: flex;
}
main .product-imgs .mini-imgs {
  display: flex;
  flex-direction: column;
}
main .product-imgs .mini-imgs img {
  width: 76px;
  height: 80px;
  margin: 10px 0;
  cursor: pointer;
}
main .product-imgs .mini-imgs img:hover {
  border: 1px black solid;
  border-radius: 10px;
}

main .product-imgs .main-img img {
  width: fit-content;
  height: 500px;
  cursor: zoom-in;
}

main .product-info {
  flex: 1;
  height: 730px;
  display: flex;
  flex-direction: column;
}
main .product-info h1 {
  font-size: 2.625rem;
  font-weight: 400;
}
main .product-info .price {
  font-size: 1.5rem;
  font-weight: 500;
  color: #9f9f9f;
  padding-left: 5px;
}
main .product-info .reviews {
  width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
}
main .product-info .reviews img {
  width: 124px;
  height: 20px;
}
main .product-info .reviews span {
  font-size: 0.813rem;
  color: #9f9f9f;
}
main .product-info p {
  width: 424px;
  height: 80px;
  font-size: 0.813rem;
  margin-top: 10px;
}
main .product-info .customize {
  font-size: 0.875rem;
  color: #9f9f9f;
  padding: 15px 0;
}

main .product-info .sizes {
  display: flex;
}
main .product-info .sizes button {
  width: 30px;
  height: 30px;
  background-color: #f9f1e7;
  border-radius: 50% 10% 50% 10%/ 10% 50% 10% 50%;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 15px;
  transition: 0.3s;
}
main .product-info .sizes button:hover {
  color: white;
  background-color: var(--maincolor);
}

main .product-info .colors {
  display: flex;
}
main .product-info .colors .color{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
main .product-info .colors .purple {
  background-color: #816dfa;
}

main .product-info .colors .black {
  background-color: black;
  margin: 0 15px;
}

main .product-info .colors .gold {
  background-color: var(--maincolor);
}

main .product-info .colors div:hover {
  transform: scale(1.3);
}

main .product-info .product-buttons {
  display: flex;
  column-gap: 15px;
}
main .product-info .product-buttons button {
  width: 215px;
  height: 64px;
  font-size: 1.25rem;
  border: 1px black solid;
  background-color: transparent;
  outline: none;
  border-radius: 15px;
  cursor: pointer;
  margin: 35px 0 60px;
  transition: 0.4s;
}
main .product-info .product-buttons button:hover:not(.quantity) {
  color: white;
  background-color: var(--maincolor);
  border: none;
  transform: scale(1.1);
}
main .product-info .product-buttons .quantity {
  width: 123px;
  position: relative;
}
main .product-info .product-buttons .quantity .iicon{
  font-size: 1em;
  position: absolute;
}

main .product-info .product-buttons .quantity .minus {
  left: 5%;
}

main .product-info .product-buttons .quantity .plus {
  right: 5%;
}

main .product-info .categ {
  width: 300px;
  height: 230px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main .product-info .categ .tags {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
main .product-info .categ .share {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
main .product-info .categ span {
  font-size: 1rem;
  color: #9f9f9f;
}
main .product-info .categ .social-icons {
  width: 100px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.iicon {
  transition: 0.3s;
}

.iicon:hover {
  transform: scale(1.4);
}

main .product-description {
  width: 100%;
  height: auto;
  margin-bottom:4rem ;
}
main .product-description .continer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .product-description .title {
  width: 650px;
  display: flex;
  justify-content: space-evenly;
  margin: 3rem 0;
}
main .product-description .title h4 {
  color: #9f9f9f;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
}
main .product-description .title h4:first-child {
  color: black;
  font-weight: 500;
}
main .product-description .title h4:hover {
  color: black;
  font-weight: 500;
}

main .product-description p {
  width: 1026px;
  color: #9f9f9f;
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 30px;
}
main .product-description .img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}
main .product-description img {
  width: 605px;
  height: 348px;
}

#cart-sidebar {
  width: 417px;
  height: 746px;
  background-color: white;
  overflow: hidden;
  border: none;
  box-shadow: -5px 8px 11px 0 #00000069;
  margin-left:auto;
}
#cart-sidebar .container {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 5%;
}
#cart-sidebar::backdrop {
  background-color: #0000006f;
}
#cart-sidebar .container div {
  width: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#cart-sidebar .container h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
#cart-sidebar .container .icon {
  font-size: 20px;
  color: #c8c3c3;
  margin-left: 15px;
  cursor: pointer;
}

#cart-sidebar .container .product-cart div {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#cart-sidebar .container .product-cart img {
  width: 108px;
  height: 105px;
  margin-right: 25px;
}
#cart-sidebar .container h4 {
  font-size: 1rem;
  font-weight: 400;
}
#cart-sidebar .container .product-cart span {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 5px 0 0 2px;
  color: var(--maincolor);
}
#cart-sidebar .container .product-cart span span {
  font-size: 0.75rem;
  font-weight: 500;
  color: black;
  letter-spacing: 5px;
  padding-right: 15px;
}
#cart-sidebar .container .total {
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
}
#cart-sidebar .container .total div:first-child {
  padding: 0 10px;
}
#cart-sidebar .container .total span {
  font-size: 1rem;
  font-weight: 600;
  color: var(--maincolor);
}
#cart-sidebar .container .btns {
  width: 370px;
  display: flex;
  justify-content: space-evenly;
}
#cart-sidebar .container button {
  width: 115px;
  height: 30px;
  font-size: 0.9rem;
  font-weight: 500;
}

#related-products {
  width: 100%;
  height: auto;
  display: flex;
  align-content: center;
  justify-content: center;
}

#related-products .continer {
  width: 80%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#related-products h3 {
  color: #333333;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

#related-products .products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 28px;
}

#related-products .product {
  width: 285px;
  height: 445px;
  background-color: #eee;
  border-radius: 5px;
  transition: 0.3s ease;
  position: relative;
}

#related-products .product::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.577);
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition: 0.3s;
}
#related-products .product:hover::before {
  opacity: 1;
}

#related-products .product .product-hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 30%;
  right: 0;
  z-index: -1;
  transition: 0.5s;
}
#related-products .product:hover .product-hover {
  z-index: 6;
  transform: translateY(20px);
}
#related-products .product .product-hover button {
  width: 202px;
  height: 48px;
  color: var(--maincolor);
  background-color: white;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  outline: none;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}
#related-products .product .product-hover button:hover {
  color: white;
  background-color: var(--maincolor);
  border-radius: 20px;
  transform: scale(1.1);
}
#related-products .product .product-hover div {
  display: flex;
  flex-direction: row;
}
#related-products .product .product-hover span {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 7px;
  transition: 0.3s;
}
#related-products .product .product-hover span:hover {
  transform: scale(1.1);
}

#related-products img {
  width: 285px;
  height: 300px;
  border-radius: 5px;
}

#related-products h5 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2em;
  color: #3a3a3a;
  padding: 10px 15px;
}

#related-products p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5em;
  color: #898989;
  padding-left: 15px;
}

#related-products span {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5em;
  color: #3a3a3a;
  padding: 10px 0 0 15px;
}

#related-products del {
  font-size: 1rem;
  line-height: 1.5em;
  color: #b0b0b0;
  margin-left: 30px;
}

#related-products button {
  width: 245px;
  height: 48px;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5em;
  margin-top: 40px;
  transition: 0.3s all;
}

#related-products button:hover {
  color: white;
  background-color: var(--maincolor);
  transform: scale(1.1);
  border: 1px transparent solid;
}

footer {
  width: 100%;
  display: flex;
  position: relative;
}

footer > div {
  display: flex;
  flex-direction: column;
  margin: 4% 5%;
}

footer h5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 50px;
}

footer h6 {
  font-size: 1rem;
  font-weight: 500;
  color: #9f9f9f;
}

footer p {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 40px;
  cursor: pointer;
  transition: 0.3s;
}

footer a:hover,
footer p:hover {
  color: var(--maincolor);
  transform: translateX(5px);
}

footer div:first-child {
  width: 30%;
}

footer div:nth-child(2) {
  width: 20%;
}

footer div:nth-child(3) {
  width: 20%;
}

footer div:nth-child(4) {
  width: 30%;
}

footer input {
  width: 130px;
  border: none;
  outline: none;
  border-bottom: 2px black solid;
  padding-bottom: 4px;
  margin-right: 20px;
}

footer .sub {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

footer input::placeholder {
  font-size: 0.875rem;
  font-weight: 500;
  color: #9f9f9f;
}

footer button {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  font-size: 0.875rem;
  font-weight: 500;
  border: none;
  outline: none;
  border-bottom: 2px black solid;
  padding-bottom: 5px;
  cursor: pointer;
}

footer > div:last-child {
  width: 85%;
  position: absolute;
  bottom: -13%;
}

footer > div:last-child span {
  font-size: 1rem;
}


@media (max-width: 1231px) {
  header nav ul,
  header #header-icons {
    display: none;
  }

  header {
    justify-content: space-between;
    padding: 0 30px;
  }

  header .baricon {
    display: block;
  }
  main .product .container {
    width: 95%;
  }
  main .product-imgs .mini-imgs img {
    width: 60px;
    height: 65px;
  }
  main .product-imgs .main-img img {
    height: 400px;
  }

  main .product-info h1 {
    font-size: 2.4rem;
  }
  main .product-info .price {
    font-size: 1.3rem;
  }
  main .product-info .reviews {
    width: 280px;
  }
  main .product-info .reviews img {
    width: 115px;
    height: 18px;
  }
  main .product-info .reviews span {
    font-size: 0.7rem;
  }
  main .product-info p {
    width: 424px;
    height: auto;
    font-size: 0.7rem;
  }
  main .product-info .customize {
    font-size: 0.7rem;
    padding: 15px 0;
  }
  
  main .product-info .sizes button {
    width: 25px;
    height: 25px;
  }
  
  main .product-info .colors .color {
    width: 25px;
    height: 25px;
  }
  main .product-info .product-buttons button {
    width: 150px;
    height: 55px;
    font-size: 1.1rem;
    margin: 30px 0 40px;
  }
  main .product-info .product-buttons .quantity {
    width: 100px;
  }
  main .product-info .categ {
    height: 150px;
  }

  main .product-info .categ span {
    font-size: 0.8rem;
  }
  main .product-info .categ .social-icons {
    font-size: 18px;
  }
  main .product-description .title h4 {
    font-size: 1.3rem;
  }
  main .product-description p {
    width: auto;
    margin: 0 10%;
    font-size: 0.8rem;
    padding-bottom: 20px;
  }
  main .product-description .img {
    flex-direction: column;
  }
}

@media (max-width: 992px) {
  main .product .tabs {
    padding: 1.5rem 0 1.5rem 10%;
  }
  main .product .tabs p {
    font-size: 0.8rem;
  }
  main .product .tabs span {
    padding: 0 10px;
  }
  main .product .tabs h5 {
    font-size: 0.8rem;
  }
  main .product-imgs .mini-imgs img {
    width: 50px;
    height: 55px;
  }
  main .product-imgs .main-img img {
    height: 350px;
  }

  main .product-info h1 {
    font-size: 2.2rem;
  }
  main .product-info .price {
    font-size: 1.1rem;
  }
  main .product-info .reviews {
    width: 250px;
  }
  main .product-info .reviews img {
    width: 100px;
    height: 15px;
  }
  main .product-info .reviews span {
    font-size: 0.6rem;
  }
  main .product-info p {
    width: 330px;
    font-size: 0.6rem;
  }
  
  main .product-info .sizes button {
    width: 20px;
    height: 20px;
  }
  
  main .product-info .colors .color {
    width: 20px;
    height: 20px;
  }
  main .product-info .product-buttons button {
    width: 120px;
    height: 45px;
    font-size: 0.9rem;
    margin: 25px 0 30px;
  }
  main .product-info .product-buttons .quantity {
    width: 90px;
  }
  main .product-info .categ span {
    font-size: 0.7rem;
  }
  main .product-info .categ .social-icons {
    font-size: 17px;
  }
  main .product-description .title h4 {
    font-size: 1.3rem;
  }
  main .product-description p {
    width: auto;
    margin: 0 10%;
    font-size: 0.8rem;
    padding-bottom: 20px;
  }
  main .product-description .img {
    flex-direction: column;
  }

  footer .sub {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}

@media (max-width: 768px) {
  #sidebar .sidebar-icons {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 250px;
  }
  main .product .container {
    width: 90%;
    flex-direction: column;
    align-items: center;
  }

  main .product-description .title h4 {
    font-size: 1.1rem;
  }
  main .product-description p {
    font-size: 0.7rem;
    padding-bottom: 15px;
  }
  main .product-description .img {
    flex-direction: column;
  }
  main .product-description img {
    width: 425px;
    height: auto;
  }

  #related-products h3 {
    font-size: 1.2rem;
  }
  
  #related-products .products {
    gap: 20px;
  }
  
  #related-products .product {
    width: 255px;
    height: 405px;
  }
  #related-products .product .product-hover button {
    width: 182px;
    height: 40px;
    font-size: 0.8rem;
  }

  #related-products .product .product-hover span {
    font-size: 0.8rem;
  }
  #related-products img {
    width: 255px;
    height: 280px;
  }
  
  #related-products h5 {
    font-size: 1.3rem;
  }
  
  #related-products p {
    font-size: 0.8rem;
  }
  
  #related-products span {
    font-size: 1rem;
  }
  
  #related-products del {
    font-size: 0.9rem;
    margin-left: 40px;
  }
  
  #related-products button {
    width: 205px;
    height: 40px;
    font-size: 0.8rem;
    margin-top: 30px;
  }

}

@media (max-width: 600px) {
  main .product-description .title {
    width: auto;
  }
  main .product-description .title h4 {
    font-size: 0.9rem;
    padding: 0 10px;
  }
  main .product-description p {
    font-size: 0.6rem;
    padding-bottom: 10px;
  }
  main .product-description img {
    width: 300px;
  }
  footer > div {
    margin: 4% 3%;
  }

  footer h5 {
    font-size: 1.3rem;
    margin-bottom: 20px;
  }

  footer h6 {
    font-size: 0.8rem;
  }

  footer p {
    font-size: 0.8rem;
    margin-top: 30px;
  }
  footer input {
    width: 90px;
  }

  footer input::placeholder {
    font-size: 0.65rem;
  }
  footer button {
    font-size: 0.65rem;
  }
}

@media (max-width: 450px) {
  #sidebar ul li {
    padding: 30px;
  }
  #sidebar ul a {
    font-size: 18px;
  }
  main .product-imgs .mini-imgs img {
    width: 40px;
    height: 45px;
  }
  main .product-imgs .main-img img {
    height: 300px;
  }
  main .product-info h1 {
    font-size: 2rem;
  }
  main .product-info .price {
    font-size: 1rem;
  }
  main .product-info .reviews {
    width: 220px;
  }
  main .product-info .reviews img {
    width: 80px;
    height: 12px;
  }
  main .product-info .reviews span {
    font-size: 0.6rem;
  }
  main .product-info p {
    width: 300px;
    font-size: 0.6rem;
  }
  
  main .product-info .sizes button {
    width: 15px;
    height: 15px;
  }
  
  main .product-info .colors .color {
    width: 15px;
    height: 15px;
  }
  main .product-info .product-buttons button {
    width: 100px;
    height: 40px;
    font-size: 0.8rem;
    margin: 25px 0 30px;
  }
  main .product-info .product-buttons .quantity {
    width: 70px;
  }
  main .product-info .categ {
    height: 100px;
  }
  main .product-info .categ span {
    font-size: 0.6rem;
  }
  main .product-info .categ .social-icons {
    font-size: 16px;
  }





  footer input {
    width: 60px;
  }
}
