.share-popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 400px;
  height: 300px;
  background-color: #fff;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform-origin: center;
  transition: 0.4s;
  transform: scale(0);
  z-index: 2000;
  top: 35%;
}

.active-popup {
  transform: scale(1);
}

.close {
  position: absolute;
  font-size: 20px;
  top: 0;
  right: 0;
  margin: 1rem;
  cursor: pointer;
}

.share-popup p {
  margin: 0.5rem;
  font-size: 14px;
}

.socials {
  display: flex;
  gap: 0.8rem;
}

.socials .icons {
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  border: 2px solid var(--maincolor);
  font-size: 25px;
}

.socials .icons:hover {
  background: var(--maincolor);
  color: #fff;
}

.wrapper {
  position: relative;
}

.wrapper input {
  width: 100%;
  padding: 0.5rem 2rem;
  outline: none;
}

.share-popup a {
  position: absolute;
  right: 0;
  top: 1px;
  bottom: 0;
  background-color: var(--maincolor);
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  padding: 0.7rem;
}


.link {
  position: absolute;
  top: 11px;
  left: 6px;
}



#hero-sec {
  width: 100%;
  height: 316px;
  background: url(../assets/img/Shop/shop-main.png) center / cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero-sec h1 {
  font-size: 3rem;
  font-weight: 500;
}

#hero-sec p {
  font-size: 1rem;
  font-weight: 500;
}

#hero-sec span {
  font-size: 1rem;
  font-weight: 300;
}

main {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

main .filter {
  width: 100%;
  height: 100px;
  background-color: #f9f1e7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

main .filter div {
  display: flex;
  flex-direction: row;
  margin: 0 10%;
}

main .filter div:first-child {
  width: 45%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

main .filter div p {
  font-size: 1.25rem;
}

main .filter-icon {
  font-size: 20px;
  cursor: pointer;
}

main .filter-icon:hover {
  transform: scale(1.3);
  transition: 0.3;
}

main .filter div:last-child {
  width: 55%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.categories .button-value {
  border: 2px solid var(--maincolor);
  padding: 1rem 2.2rem;
  border-radius: 3rem;
  background-color: transparent;
  color: #000;
  cursor: pointer;
}

.categories .button-value:hover {
  background-color: var(--maincolor);
  color: #fff;
}

.button-value.active {
  background-color: var(--maincolor);
  color: #fff;
}

.product.hide {
  display: none;
}

main #products {
  width: 80%;
  margin: 4rem auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 28px;
}

main #products h3 {
  color: #333333;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

main #products .product {
  width: 285px;
  height: 445px;
  background-color: #eee;
  border-radius: 5px;
  transition: 0.3s ease;
  position: relative;
}

main #products .product::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.577);
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition: 0.3s;
}

main #products .product:hover::before {
  opacity: 1;
}

main #products .product .product-hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 30%;
  right: 0;
  z-index: -1;
  transition: 0.5s;
}

main #products .product:hover .product-hover {
  z-index: 6;
  transform: translateY(20px);
}

main #products .product .product-hover button {
  width: 202px;
  height: 48px;
  color: var(--maincolor);
  background-color: white;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  outline: none;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}

main #products .product .product-hover button:hover {
  color: white;
  background-color: var(--maincolor);
  border-radius: 20px;
  transform: scale(1.1);
}

#products .product .cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

#products .product .IconContainer {
  position: absolute;
  top: -5px;
  left: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: .5s;
}

#products .product .text {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  color: var(--maincolor);
  transition-duration: .5s;
  font-size: 1rem;
  font-weight: 600;
}

#products .product .cart-btn:hover .IconContainer {
  transform: translateX(58px);
  border-radius: 40px;
  transition-duration: .5s;
}

#products .product .cart-btn:hover .text {
  transform: translate(10px, 0px);
  transition-duration: .5s;
  color: #fff;
}

#products .product .cart-btn:active {
  transform: scale(0.95);
  transition-duration: .5s;
}

main #products .product .product-hover div {
  display: flex;
  flex-direction: row;
}

main #products .product .product-hover span {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 7px;
  transition: 0.3s;
  cursor: pointer;
}

main #products .product .product-hover span:hover {
  transform: scale(1.1);
}

main #products img {
  width: 285px;
  height: 300px;
  border-radius: 5px;
}

main #products h5 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2em;
  color: #3a3a3a;
  padding: 10px 15px;
}

main #products p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5em;
  color: #898989;
  padding-left: 15px;
}

main #products span {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5em;
  color: #3a3a3a;
  padding: 10px 0 0 15px;
}

main #products del {
  font-size: 1rem;
  line-height: 1.5em;
  color: #b0b0b0;
  margin-left: 30px;
}

main .page-number {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .page-number button {
  width: 60px;
  height: 60px;
  text-align: center;
  background-color: #f9f1e7;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-right: 38px;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 70px;
}

.page-number button.active {
  color: #fff;
  background-color: var(--maincolor);
}

main .page-number .next {
  width: 98px;
}

main .page-number button:hover {
  color: #ffffff;
  background-color: var(--maincolor);
}

#features-sec {
  background-color: #faf3ea;
}

#features-sec .container {
  width: 100%;
  height: 270px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#features-sec .container>div {
  display: flex;
  flex-direction: row;
}

#features-sec .feat-icons {
  width: 60px;
  height: 60px;
  padding-right: 10px;
}

#features-sec h4 {
  font-size: 1.563rem;
  font-weight: 600;
  line-height: 1.5em;
  color: #242424;
}

#features-sec p {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5em;
  color: #898989;
}

footer {
  width: 100%;
  display: flex;
  position: relative;
}

footer>div {
  display: flex;
  flex-direction: column;
  margin: 4% 5%;
}

footer h5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 50px;
}

footer h6 {
  font-size: 1rem;
  font-weight: 500;
  color: #9f9f9f;
}

footer p {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 40px;
  cursor: pointer;
  transition: 0.3s;
}

footer a:hover,
footer p:hover {
  color: var(--maincolor);
  transform: translateX(5px);
}

footer div:first-child {
  width: 30%;
}

footer div:nth-child(2) {
  width: 20%;
}

footer div:nth-child(3) {
  width: 20%;
}

footer div:nth-child(4) {
  width: 30%;
}

footer input {
  width: 130px;
  border: none;
  outline: none;
  border-bottom: 2px black solid;
  padding-bottom: 4px;
  margin-right: 20px;
}

footer .sub {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

footer input::placeholder {
  font-size: 0.875rem;
  font-weight: 500;
  color: #9f9f9f;
}

footer button {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  font-size: 0.875rem;
  font-weight: 500;
  border: none;
  outline: none;
  border-bottom: 2px black solid;
  padding-bottom: 5px;
  cursor: pointer;
}

footer>div:last-child {
  width: 85%;
  position: absolute;
  bottom: -13%;
}

footer>div:last-child span {
  font-size: 1rem;
}




@media (max-width: 1231px) {

  header nav ul,
  header #header-icons,
  #sign {
    display: none;
  }

  header {
    justify-content: space-between;
    padding: 0 30px;
  }

  header .baricon {
    display: block;
  }

  main .filter div {
    margin: 0 2%;
  }

  main .filter div:first-child {
    width: 40%;
  }

  main .filter div:last-child {
    width: 40%;
  }

  #features-sec .container>div {
    flex-direction: column;
  }
}

@media (max-width: 992px) {
  main .filter div:first-child {
    width: 50%;
  }

  main .filter div p {
    display: none;
  }

  main .filter div:last-child {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .categories .button-value {
    border: 2px solid var(--maincolor);
    padding: 0.8rem 1.4rem;
    border-radius: 3rem;
    font-size: 0.8rem;
  }

  #features-sec .feat-icons {
    width: 50px;
    height: 50px;
  }

  #features-sec h4 {
    font-size: 1.2rem;
  }

  #features-sec p {
    font-size: 0.9rem;
  }

  footer .sub {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}

@media (max-width: 768px) {
  #sidebar .sidebar-icons {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 250px;
  }

  main .page-number button {
    width: 45px;
    height: 45px;
    margin-right: 30px;
    font-size: 17px;
    margin-bottom: 50px;
  }

  main .page-number .next {
    width: 75px;
  }

  #features-sec .container {
    height: 150px;
    padding: 0 20px;
  }

  #features-sec .feat-icons {
    width: 40px;
    height: 40px;
  }

  #features-sec h4 {
    font-size: 1rem;
  }

  #features-sec p {
    font-size: 0.7rem;
  }
}

@media (max-width: 600px) {
  .filter span {
    display: none;
  }

  main .filter div:first-child {
    width: 25%;
  }

  main .filter div:last-child {
    width: 75%;
    justify-content: space-evenly;
  }

  #features-sec .feat-icons {
    width: 30px;
    height: 30px;
  }

  #features-sec h4 {
    font-size: 0.9rem;
  }

  #features-sec p {
    font-size: 0.5rem;
  }

  footer>div {
    margin: 4% 3%;
  }

  footer h5 {
    font-size: 1.3rem;
    margin-bottom: 20px;
  }

  footer h6 {
    font-size: 0.8rem;
  }

  footer p {
    font-size: 0.8rem;
    margin-top: 30px;
  }

  footer input {
    width: 90px;
  }

  footer input::placeholder {
    font-size: 0.65rem;
  }

  footer button {
    font-size: 0.65rem;
  }
}

@media (max-width: 450px) {
  #sidebar ul li {
    padding: 30px;
  }

  #sidebar ul a {
    font-size: 18px;
  }

  main .filter div:first-child {
    display: none;
  }

  main .filter div:last-child {
    width: 100%;
  }

  .categories .button-value {
    border: 2px solid var(--maincolor);
    padding: 0.6rem 1.1rem;
    border-radius: 3rem;
    font-size: 0.7rem;
  }

  footer input {
    width: 60px;
  }
}